## Analyzing MTurk Coding

In [1]:
import pandas as pd

In [2]:
# Read in the files from geo sampling that are fed to Mturk
jakarta = pd.read_csv("../data/google_street_view_metadata/jakarta.csv")
lagos   = pd.read_csv("../data/google_street_view_metadata/lagos.csv")
bangkok = pd.read_csv("../data/google_street_view_metadata/bangkok.csv")
wayne   = pd.read_csv("../data/google_street_view_metadata/wayne2.csv")

# Read in the Mturk data
jakarta_mturk = pd.read_csv("../data/mturk/jakarta2_mturk_14_06_18.csv")  
lagos_mturk   = pd.read_csv("../data/mturk/lagos_mturk_2018_06_08.csv")
bangkok_mturk = pd.read_csv("../data/mturk/bangkok_mturk_2018_06_02.csv")
wayne_mturk   = pd.read_csv("../data/mturk/wayne_mturk_2018_06_11_18.csv")

In [3]:
jakarta.head()

,id,segment_id,osm_id,osm_name,osm_type,start_lat,start_long,end_lat,end_long,gsv_metadata,copyright,date,location,pano_id,status,url_img0,url_img90,url_img180,url_img270
0,0,0,4705034,NaN,primary,-6.180847,106.822621,-6.180454,106.822612,"{u'date': u'2017-01', u'status': u'OK', u'loca...",© 2017 Google,2017-01,"{u'lat': -6.1807921, u'lng': 106.8226687}",ZsuaCXoZMzBUiimX6wPgOg,OK,jakarta/img0_0000.jpg,jakarta/img90_0000.jpg,jakarta/img180_0000.jpg,jakarta/img270_0000.jpg
1,1,2,4705043,Jalan Gunung Sahari III,tertiary,-6.167753,106.842434,-6.167984,106.839682,"{u'date': u'2017-01', u'status': u'OK', u'loca...",© 2017 Google,2017-01,"{u'lat': -6.16773708251, u'lng': 106.842439482}",IZDY6K-68eEZ_2Gn0UX7GQ,OK,jakarta/img0_0001.jpg,jakarta/img90_0001.jpg,jakarta/img180_0001.jpg,jakarta/img270_0001.jpg
2,2,9,4705053,Jalan Gunung Sahari Raya,primary,-6.156200,106.836681,-6.160577,106.837808,"{u'date': u'2017-01', u'status': u'OK', u'loca...",© 2017 Google,2017-01,"{u'lat': -6.15615671549, u'lng': 106.836705101}",efaqkGpxjxArkRbc2_8Ezw,OK,jakarta/img0_0002.jpg,jakarta/img90_0002.jpg,jakarta/img180_0002.jpg,jakarta/img270_0002.jpg
3,3,11,4705053,Jalan Gunung Sahari Raya,primary,-6.164970,106.838870,-6.169344,106.840010,"{u'date': u'2017-01', u'status': u'OK', u'loca...",© 2017 Google,2017-01,"{u'lat': -6.1650009, u'lng': 106.8389159}",TOfUJy6Rmv1imEwasCct6w,OK,jakarta/img0_0003.jpg,jakarta/img90_0003.jpg,jakarta/img180_0003.jpg,jakarta/img270_0003.jpg
4,4,17,10522098,Jalan Lenteng Agung Raya,trunk,-6.312436,106.838374,-6.316894,106.837624,"{u'date': u'2017-01', u'status': u'OK', u'loca...",© 2017 Google,2017-01,"{u'lat': -6.31243889595, u'lng': 106.838416343}",mKRSPlWntlYFbMlq0rXvPA,OK,jakarta/img0_0004.jpg,jakarta/img90_0004.jpg,jakarta/img180_0004.jpg,jakarta/img270_0004.jpg

In [4]:
jakarta_mturk.head()

,HITId,HITTypeId,Title,Description,Keywords,Reward,CreationTime,MaxAssignments,RequesterAnnotation,AssignmentDurationInSeconds,...,Input.status,Input.url_img0,Input.url_img90,Input.url_img180,Input.url_img270,Answer.Do you see any of the following?,Answer.Does the road have any...?,Answer.If there are any road markings are they clear?,Approve,Reject
0,3ZFRE2BDQ9J4YG5PF15PQ4Q06UWZXZ,35EE6WR8LG7XDWM9J5XGORMSQW571C,3 questions on condition of the road in the image,3 simple yes/no and checkbox questions per image,"image, tag, picture, tagging, photo, multiple ...",$0.05,Wed Jun 13 22:27:53 PDT 2018,1,BatchId:3268555;OriginalHitTemplateId:862366346;,600,...,OK,jakarta/img0_0000.jpg,jakarta/img90_0000.jpg,jakarta/img180_0000.jpg,jakarta/img270_0000.jpg,Litter|A paved sidewalk,NaN,No,NaN,NaN
1,3WJGKMRWVIEDSHPYWNK5LZMNHUYCDB,35EE6WR8LG7XDWM9J5XGORMSQW571C,3 questions on condition of the road in the image,3 simple yes/no and checkbox questions per image,"image, tag, picture, tagging, photo, multiple ...",$0.05,Wed Jun 13 22:27:38 PDT 2018,1,BatchId:3268555;OriginalHitTemplateId:862366346;,600,...,OK,jakarta/img0_0606.jpg,jakarta/img90_0606.jpg,jakarta/img180_0606.jpg,jakarta/img270_0606.jpg,A paved sidewalk,NaN,Yes,NaN,NaN
2,3FW4EL5A3LTDRPZG25BID3MX8CX22K,35EE6WR8LG7XDWM9J5XGORMSQW571C,3 questions on condition of the road in the image,3 simple yes/no and checkbox questions per image,"image, tag, picture, tagging, photo, multiple ...",$0.05,Wed Jun 13 22:27:52 PDT 2018,1,BatchId:3268555;OriginalHitTemplateId:862366346;,600,...,OK,jakarta/img0_0201.jpg,jakarta/img90_0201.jpg,jakarta/img180_0201.jpg,jakarta/img270_0201.jpg,NaN,NaN,No,NaN,NaN
3,3ODOP6T3ASPNU3E36JU66IJVSQT24G,35EE6WR8LG7XDWM9J5XGORMSQW571C,3 questions on condition of the road in the image,3 simple yes/no and checkbox questions per image,"image, tag, picture, tagging, photo, multiple ...",$0.05,Wed Jun 13 22:27:53 PDT 2018,1,BatchId:3268555;OriginalHitTemplateId:862366346;,600,...,OK,jakarta/img0_0001.jpg,jakarta/img90_0001.jpg,jakarta/img180_0001.jpg,jakarta/img270_0001.jpg,NaN,NaN,No,NaN,NaN
4,3V7ICJJAZALHIGEZPCNH7BMZMW6B4R,35EE6WR8LG7XDWM9J5XGORMSQW571C,3 questions on condition of the road in the image,3 simple yes/no and checkbox questions per image,"image, tag, picture, tagging, photo, multiple ...",$0.05,Wed Jun 13 22:28:09 PDT 2018,1,BatchId:3268555;OriginalHitTemplateId:862366346;,600,...,OK,jakarta/img0_0813.jpg,jakarta/img90_0813.jpg,jakarta/img180_0813.jpg,jakarta/img270_0813.jpg,NaN,Cracks|Potholes,No,NaN,NaN

In [5]:
# Remove HITs that were rejected from the MTurk files
print("Number of rows in the original Jakarta Mturk data: " + str(jakarta_mturk.shape[0]))
jakarta_mturk = jakarta_mturk.loc[jakarta_mturk['AssignmentStatus'] != "Rejected"]
print("After removing rejected HITs: " + str(jakarta_mturk.shape[0]))

print("Number of rows in the original Lagos Mturk data: " + str(lagos_mturk.shape[0]))
lagos_mturk = lagos_mturk.loc[lagos_mturk['AssignmentStatus'] != "Rejected"]
print("After removing rejected HITs: " + str(lagos_mturk.shape[0]))

print("Number of rows in the original Bangkok Mturk data: " + str(bangkok_mturk.shape[0]))
bangkok_mturk = bangkok_mturk.loc[bangkok_mturk['AssignmentStatus'] != "Rejected"]
print("After removing rejected HITs: " + str(bangkok_mturk.shape[0]))

print("Number of rows in the original Wayne Mturk data: " + str(wayne_mturk.shape[0]))
wayne_mturk = wayne_mturk.loc[wayne_mturk['AssignmentStatus'] != "Rejected"]
print("After removing rejected HITs: " + str(wayne_mturk.shape[0]))

Number of rows in the original Jakarta Mturk data: 978
After removing rejected HITs: 978
Number of rows in the original Lagos Mturk data: 872
After removing rejected HITs: 872
Number of rows in the original Bangkok Mturk data: 999
After removing rejected HITs: 999
Number of rows in the original Wayne Mturk data: 4828
After removing rejected HITs: 4828

In [6]:
# Left join original data with Mturk
jakarta_all = jakarta.merge(jakarta_mturk, how = 'left', left_on = 'url_img0', right_on = 'Input.url_img0')
lagos_all   = lagos.merge(lagos_mturk, how = 'left', left_on = 'url_img0', right_on = 'Input.url_img0')
bangkok_all = bangkok.merge(bangkok_mturk, how = 'left', left_on = 'url_img0', right_on = 'Input.url_img0')
wayne_all   = wayne.merge(wayne_mturk, how = 'left', left_on = 'url_img0', right_on = 'Input.url_img0')

In [7]:
# Number of rows in the final data (confirming)
print(jakarta_all.shape[0])
print(lagos_all.shape[0])
print(bangkok_all.shape[0])
print(wayne_all.shape[0])

978
872
999
4828

In [8]:
# Let's subset the data to relevant cols
small_subset = ('osm_type',
                'date',
                'Answer.Do you see any of the following?',
                'Answer.Does the road have any...?',
                'Answer.If there are any road markings are they clear?')
jakarta_small = jakarta_all.loc[:, small_subset]
lagos_small   = lagos_all.loc[:, small_subset]
bangkok_small = bangkok_all.loc[:, small_subset]
wayne_small   = wayne_all.loc[:, small_subset]

# Add a column enumerating city
jakarta_small['city'] = 'jakarta'
lagos_small['city']   = 'lagos'
bangkok_small['city'] = 'bangkok'
wayne_small['city']   = 'wayne'

In [9]:
# Recoding for convenience and clarity

# Let's tally proportion of roads with potholes and cracks
jakarta_small['cracks'] = jakarta_small['Answer.Does the road have any...?'].str.contains('Cracks', na = False)
lagos_small['cracks']   = lagos_small['Answer.Does the road have any...?'].str.contains('Cracks', na = False)
bangkok_small['cracks'] = bangkok_small['Answer.Does the road have any...?'].str.contains('Cracks', na = False)
wayne_small['cracks']   = wayne_small['Answer.Does the road have any...?'].str.contains('Cracks', na = False)

jakarta_small['potholes'] = jakarta_small['Answer.Does the road have any...?'].str.contains('Potholes', na = False)
lagos_small['potholes']   = lagos_small['Answer.Does the road have any...?'].str.contains('Potholes', na = False)
bangkok_small['potholes'] = bangkok_small['Answer.Does the road have any...?'].str.contains('Potholes', na = False)
wayne_small['potholes']   = wayne_small['Answer.Does the road have any...?'].str.contains('Potholes', na = False)

# Road Markings
jakarta_small['clear_road_markings'] = jakarta_small['Answer.If there are any road markings are they clear?'] == 'Yes'
lagos_small['clear_road_markings']   = lagos_small['Answer.If there are any road markings are they clear?'] == 'Yes'
bangkok_small['clear_road_markings'] = bangkok_small['Answer.If there are any road markings are they clear?'] == 'Yes'
wayne_small['clear_road_markings']   = wayne_small['Answer.If there are any road markings are they clear?'] == 'Yes'

jakarta_small['roads_w_markings']    = jakarta_small['Answer.If there are any road markings are they clear?'].str.contains('Yes|No', na = False)
lagos_small['roads_w_markings']      = lagos_small['Answer.If there are any road markings are they clear?'].str.contains('Yes|No', na = False)
bangkok_small['roads_w_markings']    = bangkok_small['Answer.If there are any road markings are they clear?'].str.contains('Yes|No', na = False)
wayne_small['roads_w_markings']      = wayne_small['Answer.If there are any road markings are they clear?'].str.contains('Yes|No', na = False)

# Questions about litter on the street and whether the sidewalk was paved was not asked for Jakarta
jakarta_small['litter'] = jakarta_small['Answer.Do you see any of the following?'].str.contains('Litter', na = False)
lagos_small['litter']   = lagos_small['Answer.Do you see any of the following?'].str.contains('Litter', na = False)
bangkok_small['litter'] = bangkok_small['Answer.Do you see any of the following?'].str.contains('Litter', na = False)
wayne_small['litter']   = wayne_small['Answer.Do you see any of the following?'].str.contains('Litter', na = False)

jakarta_small['paved_sidewalk'] = jakarta_small['Answer.Do you see any of the following?'].str.contains('sidewalk', na = False)
lagos_small['paved_sidewalk']   = lagos_small['Answer.Do you see any of the following?'].str.contains('sidewalk', na = False)
bangkok_small['paved_sidewalk'] = bangkok_small['Answer.Do you see any of the following?'].str.contains('sidewalk', na = False)
wayne_small['paved_sidewalk']   = wayne_small['Answer.Do you see any of the following?'].str.contains('sidewalk', na = False)

# Let's subset on relevant cols.
fin_cols = ('city', 'osm_type', 'date', 'potholes', 'cracks', 'clear_road_markings', 'roads_w_markings', 'litter', 'paved_sidewalk')
jakarta_final = jakarta_small.loc[:, fin_cols]
lagos_final   = lagos_small.loc[:, fin_cols]
bangkok_final = bangkok_small.loc[:, fin_cols]
wayne_final   = wayne_small.loc[:, fin_cols]

# Concatenate
all_cities = pd.concat([jakarta_final, lagos_final, bangkok_final, wayne_final])
# Coerce data types
all_cities[['litter','paved_sidewalk']] = all_cities[['litter','paved_sidewalk']].apply(pd.to_numeric)

In [10]:
from datetime import datetime
all_cities['date'] = pd.to_datetime(all_cities['date'])
all_cities.groupby(['city'])['date'].agg(['min', 'max'])

               min        max
city
bangkok 1970-08-01 2016-12-01
jakarta 2013-02-01 2017-07-01
lagos   2016-10-01 2017-04-01
wayne   2007-07-01 2017-06-01

In [11]:
# Let's do some group by means
all_cities.groupby(['city']).mean().round(2)

,potholes,cracks,clear_road_markings,roads_w_markings,litter,paved_sidewalk
city,,,,,,
bangkok,0.06,0.24,0.81,0.98,0.06,0.51
jakarta,0.23,0.44,0.34,0.97,0.21,0.49
lagos,0.06,0.20,0.23,0.95,0.15,0.30
wayne,0.07,0.62,0.60,0.90,0.09,0.67

In [12]:
# Proportion of road segments with markings that are clear
(all_cities.groupby(['city'])['clear_road_markings'].sum()/all_cities.groupby(['city'])['roads_w_markings'].sum()).round(2)

city
bangkok    0.83
jakarta    0.35
lagos      0.25
wayne      0.66
dtype: float64

In [13]:
all_cities.groupby(['city', 'osm_type']).mean().round(2)

                   potholes  cracks  clear_road_markings  roads_w_markings  \
city    osm_type
bangkok primary        0.07    0.25                 0.83              0.99
        secondary      0.07    0.24                 0.81              0.97
        tertiary       0.05    0.27                 0.76              0.96
        trunk          0.06    0.06                 1.00              1.00
jakarta primary        0.17    0.41                 0.48              0.98
        secondary      0.25    0.45                 0.36              0.97
        tertiary       0.26    0.47                 0.23              0.97
        trunk          0.18    0.38                 0.45              0.95
lagos   primary        0.06    0.28                 0.17              0.95
        secondary      0.06    0.17                 0.28              0.95
        tertiary       0.10    0.20                 0.13              0.95
        trunk          0.03    0.16                 0.30              0.92
wayne   primary        0.05    0.58                 0.69              0.92
        secondary      0.07    0.62                 0.57              0.89
        tertiary       0.08    0.65                 0.57              0.90
        trunk          0.03    0.66                 0.66              0.97

                   litter  paved_sidewalk
city    osm_type
bangkok primary      0.04            0.50
        secondary    0.06            0.57
        tertiary     0.10            0.52
        trunk        0.00            0.30
jakarta primary      0.15            0.55
        secondary    0.22            0.52
        tertiary     0.25            0.46
        trunk        0.13            0.47
lagos   primary      0.15            0.18
        secondary    0.15            0.35
        tertiary     0.15            0.28
        trunk        0.16            0.36
wayne   primary      0.08            0.69
        secondary    0.08            0.69
        tertiary     0.12            0.65
        trunk        0.06            0.40

In [14]:
from sklearn.linear_model import LinearRegression

X_train = all_cities.loc[:, ('osm_type', 'city')]
y_potholes = all_cities[['potholes']]
y_cracks = all_cities[['cracks']]

X_train_fin = pd.get_dummies(X_train)
X_train_finn = X_train_fin.loc[:, ('osm_type_primary', 'osm_type_secondary', 'osm_type_trunk', 'city_bangkok', 'city_jakarta', 'city_lagos')]

print("Potholes:\n")
lm = LinearRegression()
lm.fit(X_train_finn, y_potholes)

for idx, col_name in enumerate(X_train_finn.columns):
    print("The coefficient for {} is {}".format(col_name, lm.coef_[0][idx].round(2)))

print("\nCracks:\n")
lm = LinearRegression()
lm.fit(X_train_finn, y_cracks)

for idx, col_name in enumerate(X_train_finn.columns):
    print("The coefficient for {} is {}".format(col_name, lm.coef_[0][idx].round(2)))

Potholes:

The coefficient for osm_type_primary is -0.03
The coefficient for osm_type_secondary is -0.01
The coefficient for osm_type_trunk is -0.05
The coefficient for city_bangkok is -0.0
The coefficient for city_jakarta is 0.16
The coefficient for city_lagos is -0.0

Cracks:

The coefficient for osm_type_primary is -0.05
The coefficient for osm_type_secondary is -0.03
The coefficient for osm_type_trunk is -0.09
The coefficient for city_bangkok is -0.37
The coefficient for city_jakarta is -0.17
The coefficient for city_lagos is -0.41